
.divider {
  width: 2px;
  height: 14vh;
  background:  #efefef;
  border-radius: 2rem;
}
.contact {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid  #efefef;
  transition: transform 0.3s, background-color 0.3s;
}
.contact:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.contact::after {
  content: attr(data-level);
  position: absolute;
  bottom: 50%;
  right: 3.5rem;
  transform: translateY(10px);
  font-size: 1rem;
  color:  #efefef;
  opacity: 0;
  transition: opacity 0.3s;
}
.contact:hover::after {
  opacity: 1;
}
.contact-icon {
  height: 100%;
  color:  #efefef;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  align-content: center;
}
