<div
  class="flex items-center justify-center gap-4 lg:flex-col lg:z-50 contact-content"
>
  <span class="divider"></span>

  <a
    class="contact"
    href="https://github.com/gustavoppo"
    aria-labelledby="github-label"
    data-level="GitHub"
  >
    <i class="contact-icon icon-github" role="img" aria-hidden="true"></i>
    <span id="github-label" class="sr-only">Gustavo Palandi's GitHub</span>
  </a>

  <a
    class="contact"
    href="https://www.linkedin.com/in/gustavopalandi/"
    aria-labelledby="linkedin-label"
    data-level="LinkedIn"
  >
    <i class="contact-icon icon-linkedin" role="img" aria-hidden="true"></i>
    <span id="linkedin-label" class="sr-only">Gustavo Palandi's LinkedIn</span>
  </a>

  <a
    class="contact"
    href="mailto:gpalandi@gmail.com"
    aria-labelledby="gmail-label"
    data-level="Gmail"
  >
    <i class="contact-icon icon-gmail" role="img" aria-hidden="true"></i>
    <span id="gmail-label" class="sr-only">Send an email to Gustavo Palandi</span>
  </a>

  <span class="divider"></span>
</div>
