<div class="mt-4 md:mt-5 lg:mt-0">
  <p class="about-me">
    <strong class="about">about:</strong>
    Hello, I'm Gustavo Palandi, a passionate front-end developer and UX/UI
    designer. I specialize in transforming ideas into reality by creating
    intuitive interfaces and compelling user experiences. My focus is on
    blending creative design with efficient code to deliver exceptional digital
    solutions that exceed client expectations. I stay current with the latest
    trends and technologies, ensuring that my projects are at the cutting edge
    of web development.
  </p>
</div>
