<div class="mt-4">
  <p class="about-me">
    <span class="about"> about: </span>
    Hello, my name is Gustavo Palandi. I'm a front-end programmer and UX/UI
    Designer, specializing in turning ideas into reality through my work. With a
    passion for creating intuitive interfaces and engaging user experiences, I
    dedicate myself to developing digital solutions that not only meet, but
    exceed client expectations. My goal is to combine creative design with
    efficient programming to deliver high-quality products. I am always
    up-to-date with the latest trends and technologies to ensure that my
    projects are at the forefront of web development.
  </p>
</div>
