.rd-toolbar {
  /* background: #1a1a1a; */
  flex: 1;
  height: 4rem;
  margin: 1rem;
  border-radius: 2rem;
  border: 0.5px solid #ffffff29;
}

.me {
  color:  #efefef;
  font-family: "Quicksand", sans-serif;
}
