.item {
  position: relative;
  width: 6rem;
  height: 6rem;
  border: 1px solid #efefef;
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #efefef;
  font-size: 4rem;
  transition: transform 0.3s, background-color 0.3s;
}

.item:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.item::after {
  content: attr(data-level);
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color:  #efefef;
  opacity: 0;
  transition: opacity 0.3s;
}

.item:hover::after {
  opacity: 1;
}
