<div class="flex gap-8">
  <span class="item" data-level="Angular"><i class="icon-angular"></i></span>
  <span class="item" data-level="React"><i class="icon-react"></i></span>
  <span class="item" data-level="HTML"><i class="icon-html"></i></span>
  <span class="item" data-level="CSS"><i class="icon-css"></i></span>
  <span class="item" data-level="Figma"><i class="icon-figma"></i></span>
  <span class="item" data-level="Photoshpo"><i class="icon-photoshop"></i></span>
  <span class="item" data-level="Illustrator"><i class="icon-illustrator"></i></span>
</div>
