<div class="grid-skills">
  <span class="item" data-level="Angular" aria-label="Skill: Angular" onclick="toggleText(this)">
    <i class="icon-angular" role="img" aria-label="Angular"></i>
  </span>
  <span class="item" data-level="React" aria-label="Skill: React">
    <i class="icon-react" role="img" aria-label="React"></i>
  </span>
  <span class="item" data-level="HTML" aria-label="Skill: HTML">
    <i class="icon-html" role="img" aria-label="HTML"></i>
  </span>
  <span class="item" data-level="CSS" aria-label="Skill: CSS">
    <i class="icon-css" role="img" aria-label="CSS"></i>
  </span>
  <span class="item" data-level="Figma" aria-label="Skill: Figma">
    <i class="icon-figma" role="img" aria-label="Figma"></i>
  </span>
  <span class="item" data-level="Photoshop" aria-label="Skill: Photoshop">
    <i class="icon-photoshop" role="img" aria-label="Photoshop"></i>
  </span>
  <span class="item" data-level="Illustrator" aria-label="Skill: Illustrator">
    <i class="icon-illustrator" role="img" aria-label="Illustrator"></i>
  </span>
</div>
