<div class="grid-skills">
  <button class="item" data-level="Angular" aria-label="Skill: Angular" (click)="toggleText($event)">
    <i class="icon-angular" role="img" aria-label="Angular"></i>
  </button>
  <button class="item" data-level="React" aria-label="Skill: React" (click)="toggleText($event)">
    <i class="icon-react" role="img" aria-label="React"></i>
  </button>
  <button class="item" data-level="HTML" aria-label="Skill: HTML" (click)="toggleText($event)">
    <i class="icon-html" role="img" aria-label="HTML"></i>
  </button>
  <button class="item" data-level="CSS" aria-label="Skill: CSS" (click)="toggleText($event)">
    <i class="icon-css" role="img" aria-label="CSS"></i>
  </button>
  <button class="item" data-level="Figma" aria-label="Skill: Figma" (click)="toggleText($event)">
    <i class="icon-figma" role="img" aria-label="Figma"></i>
  </button>
  <button class="item" data-level="Photoshop" aria-label="Skill: Photoshop" (click)="toggleText($event)">
    <i class="icon-photoshop" role="img" aria-label="Photoshop"></i>
  </button>
  <button class="item" data-level="Illustrator" aria-label="Skill: Illustrator" (click)="toggleText($event)">
    <i class="icon-illustrator" role="img" aria-label="Illustrator"></i>
  </button>
</div>
